div{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div a {
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5rem;
  text-decoration: none;
  color: #e72929;
  font-weight: 500;
  background-color: rgb(228, 222, 222);
}

div a:hover {
  background-color: #e72929;
  color: white;
}
